.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.cache
.mypy_cache
.ruff_cache
.env
*.db
*.sqlite3
/alembic/versions/* # Exclude generated migrations initially, can be adjusted

# Docker specific
Dockerfile
.dockerignore

# Git specific
.git
.gitignore

# OS specific
.DS_Store
Thumbs.db 